.container_series {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 200px;
}

.container_series .container_serie {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;
}

.container_series .container_serie .logo {
    display: flex;
    justify-content: center;
    height: 100px;
}

.container_series .container_serie .logo p {
    color: var(--clr-logodegrijzejager);
    font-size: 50px;
}

.books {
    display: grid;
    width: 100%;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: auto;
    column-gap: 4%;
    row-gap: var(--spacing-3x);
}

.books .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 22px;
    border-radius: 10px;
    background-color: var(--clr-book);
    text-decoration: none;
}

.books .book img {
    height: 450px;
    width: 100%;
    margin-bottom: var(--spacing-2x);
    object-fit: cover;
}

.books .book div {
    display: flex;
    height: 50px;
    width: 100%;
    color: var(--clr-text);
}

.books .book div p {
    font-size: 18px;
}